@{
    ViewBag.Title = "Listagem de Especialidades";
}
<h2>@ViewBag.Title</h2>
<div class="mb-3">
    <a class="btn btn-outline-info" id="cartButton" asp-action="AddEdit"> Adicionar</a> <!-- Passando o ID para a edição -->
</div>

<table class="table table-borderless table-hover table-responsive-sm-3 p-3 shadow-sm p-3 mb-5 bg-white rounded">
    <thead class="thead-light">
        <tr class="text-center" >
            <th>Id</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (AgendaEasy.Models.Especialidade especialidade in Model)
        {
            <tr id="especialidade-@especialidade.Id">
                <td>@especialidade.Id</td>
                <td>@especialidade.Descricao</td>
                <td>
                    <a class="btn btn-sm btn-outline-success" id="cartButton" asp-action="AddEdit" asp-route-id="@especialidade.Id"> Editar</a> <!-- Passando o ID para a edição -->
                    <a class="btn btn-sm btn-outline-info" id="cartButton" asp-action="Visualiza" asp-route-id="@especialidade.Id"> Visualizar</a>
                </td>

            </tr>
        }
    </tbody>
</table>
